{{define "yield"}}
<style>
    #homeStyles{
        background: -webkit-linear-gradient(to left, #24e8b8, #28b7fa);
        background: linear-gradient(to left, #24e8b8, #28b7fa);
    } 

</style>
<div class="jumbotron mt-3 form-margins" id="homeStyles">
    <h1 class="display-4 text-center">Welcome</h1>
    <hr class="my-4">
    <h3 class="text-center mb-4">Who are you?</h3>
        <div class="text-center">
            <div style="display: inline-block;">
                <a class="btn btn-host" href="/host">Host</a>
            </div>
            <div style="display: inline-block;">
                <a class="btn btn-guest" href="/guest">Guest</a>
            </div>
        </div>
</div>
{{end}}