{{define "yield"}}
<style>
  .host-nav {
    color: #fff;
    background: #0062E6;
    margin: 80px 20px 10px 20px;
    border-radius: 5px;
  }
  .host-cards {
    border: 1px solid #e0e0e0 !important;
  }
  .host-cards:hover {
    border: 1px solid #0062E6 !important;
  }
</style>

<div class="navbar text-center host-nav pb-1">
  <h2>Host Dashboard</h2>
</div>
<div class="row m-1">
  
  <div class="col">
    <a href="/property" class="card-link">
    <div class="card text-white mb-3 host-cards">
      <img class="card-img-top" src="images/legit.webp" alt="Card image cap">
      <div class="card-body text-primary text-center">
        Upload Listing
      </div>
    </div>
  </a>
  </div>
  
  <div class="col">
    <a href="/property" class="card-link">
      <div class="card text-white mb-3 host-cards text-center">
        <img class="card-img-top" src="images/agreement.jpg" alt="Card image cap">
      <div class="card-body text-primary">
        Check Listings &amp; Rental Agreements
      </div>
    </div>
  </a>
  </div>

  <div class="col">
    <a href="/property" class="card-link">
    <div class="card text-white mb-3 host-cards">
      <img class="card-img-top" src="images/personalinfo.jpg" alt="Card image cap">
      <div class="card-body text-primary text-center">
        Update Personal Info
      </div>
    </div>
  </div>
</a>
</div>

{{end}}

