{{define "yield"}}
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Database I</h1>
      <h2 class="masthead-subheading mb-0">Winter 2020 Project</h2>
      <div class="container-custom">
        <a href="/signup" class="btn btn-primary mt-5">SIGN UP</a>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="images/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Phillip Brule</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="images/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Richard Xiong</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6 order-lg-2">
      <div class="p-5">
        <img class="img-fluid rounded-circle" src="images/02.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6 order-lg-1">
      <div class="p-5">
        <h2 class="display-4">References</h2>
        <p>
          We obtained this free Bootstrap Template from <a href="https://startbootstrap.com/themes/">startbootstrap.com</a>.
          For the styling and design of this applicaiton, we used alot of their provided CSS classes. We also used a lot of
          Bootstrap CSS classes and wrote a few of our own. A full documentation of all the technologies we used will be provided in a pdf along with our assignment.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

{{end}}


