{{define "yield"}}
<style>
  .guest-nav {
    color: #fff;
    background: #264D80;
    margin: 80px 20px 10px 20px;
    border-radius: 5px;
  }

  .bg-primary {
    background: #264D80 !important;
  }
  .border-primary {
    border-color: #264D80 !important;
  }

  .guest-cards {
    border: 1px solid #e0e0e0 !important;
    color: #264D80 !important;
  }
  .guest-cards:hover {
    border: 1px solid #264D80 !important;
  }
</style>

<div class="navbar text-center guest-nav pb-1">
  <h2>Guest Dashboard</h2>
</div>

<div class="list-group mx-4 mt-3" style="margin-bottom: 60px;">
  <div class="text-center mb-2">All Available Listings</div>
  {{range .Property}}
  <a class="list-group-item list-group-item-action flex-column align-items-start pointier">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"><span class="font-weight-bold">Property Type:</span> {{ .PropertyType}}</h5>
    </div>
    <p class="mb-1"><span class="font-weight-bold">Amenities:</span> {{ .Amenities}}</p>
    <p class="mb-1"><span class="font-weight-bold">Bedrooms:</span> {{ .Bedrooms}}</p>
    <p class="mb-1"><span class="font-weight-bold">Bathrooms:</span> {{ .Bathrooms}}</p>
    <p class="mb-1"><span class="font-weight-bold">Accommodates:</span> {{ .Accommodates}} guest(s)</p>
    <form action="/rental" method="POST" class="mt-2">   
     <input type="number"name="propertyid"id="propertyid" value="{{.PropertyID}}" style="display:none;">
      <button class="navlink btn btn-dark" type="submit" style="display:block;">View More</button>
    </form>
  </a>
  {{end}}
</div>
{{end}}


